.secret {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.secret button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    outline: 0;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    font-size: larger;
    cursor: pointer;
    opacity: 0;   
}

.animation {
    animation-fill-mode: forwards !important;
    animation: fadeIn 3s;
}   

.secret button:hover {
    background-color: white;
    color: black;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }