@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');


.health-bar {
    top: 0;
    z-index: 100;
    position: fixed;
    margin: 1rem;
}

.health-bar-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.health-bar-inner img {
    left: 0;
    top: 0;
}

.health-background {
    position: absolute;
    width: 304px;
    height: 100px;
    top: 40px;
    left: 165px;
    z-index: -1;
    background-color: rgb(87, 87, 87);
}

.player-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    left: 150px;
    top: 5px;
    width: 280px;
}

.player-name p {
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bolder;
    font-size: 1.75rem;
    margin: 0;
}

.health {
    position: absolute;
    width: 304px;
    height: 100px;
    top: 40px;
    left: 165px;
    z-index: -1;
}

.full {
    background-color: green;
}

.half {
    background-color: yellow;
}

.quarter {
    background-color: red;
}